/*Geral*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}


/* body */

body{
    overflow-x: hidden;
}

/* navMenu */

.view{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#navMenu{
    display: none;
}

#navMenu ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#navMenu ul li{
    list-style: none;
    cursor: pointer;
    color: rgb(109, 109, 109);
}

#closeNavMenu{
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

/*Header Top*/
#header-top {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    color: #969696;
    margin: 0;
}

#header-top ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 8px;
    width: 100%;
    gap: 12px;

   @media screen and (max-width:830px){
        display: none;
   }
    
}

#header-top ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    margin: 0.35rem;
    list-style: none;
    cursor: pointer;
    transition: .2s;
}

#header-top ul li:hover {
    color: #030304;
}

/*Header Middle*/
#header-middle {
    width: 100vw;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
}

#first-middle-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    @media screen and (max-width:1000px){
        justify-content: space-between;
    }
}

#img-header-middle {
    margin: 1rem;
    cursor: pointer;
}

#container-menu-mobile{
    display: none;
    @media screen and (max-width:1000px){
        display: block;
        position: relative;
        cursor: pointer;
        margin-right: 30px;
   }
}

#container-menu-mobile i {
    font-size: 1.5em;
}


#middle-list{
    width: 100%;
    @media screen and (max-width:1000px){
        display: none;
   }
}

#middle-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1000px){
        display: none;
   }
}

#middle-list ul li {
    padding-right: 1rem;
    color: #030304;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}


#text-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 80px;
    margin-bottom: 30px;
    
    @media screen and (max-width:1000px){
        padding: 0px 40px;
        flex-direction: column;
    }

    @media screen and (max-width:680px){
        margin-top: 30px;
        padding:0px;
    }
}

#two-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 35%;

    @media screen and (max-width:1000px){
        width: 100%;
    }
}

#two-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(32px, 6vw, 100px);
    color: #000;

    @media screen and (max-width:1000px){
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

#two-text h3 {
    font-size: 28px;
    color: #000;
    margin: 0px 0px 16px;

    @media screen and (max-width:1000px) {
        display: none;
    }
}

#description-text-header{
    display: flex;
    justify-content: end;
    padding: 0px 20px;
}

#description-text-header h3 {
    font-size: 28px;
    width: 65%;

    @media screen and (max-width:1000px){
        font-size: clamp(20px, 3vw, 28px);
        margin-bottom: 20px;
        width: 100%;
    }
}

/*FOOTER HEADER */

#footer-header {
    display: flex;
    align-items: center;
    width: 100vw;
    background: url('../img/milão-cortina.jpg');
    height: 67vh;
    padding: 0px 30px;
}

#img-footer {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
} 

#description-footer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 20px;
}

#description-footer h1{
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(32px, 6vw, 12rem);
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000, 
        1px -1px 0 #000000, 
        -1px 1px 0 #000000;
    
    @media screen and (max-width:580px){
        display: none;
    }
}

#description-footer span {
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000, 
        1px -1px 0 #000000, 
        -1px 1px 0 #000000;

    @media screen and (max-width:580px){
        display: none;
    }
}

#description-footer #date-title{
    font-size: clamp(32px, 6vw, 100px);
}

#box-explore {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}

#box-explore button {
    border: none;
    text-align: start;
    padding: 5px;
    cursor: pointer;
    color: #030304;
    
}

#box-explore button i {
    margin-left: 3.5rem;
    
}

#box-image {
    margin-bottom: 2rem;
}


/* Modal Quiz */

.modal {
    display: flex;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
    position: absolute;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%; 
    height: 70%;
    border: 1px solid #030304;
    border-radius: 5px;
    box-shadow: 1px 0px 100px 45px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 0px 100px 45px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 0px 100px 45px rgba(0, 0, 0, 1);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.close {
    color: #030304;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    width: 2rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*Após a foto*/
section {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 500px;
    
}

.teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 30px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    gap: 1;
    box-shadow: 2px 2px 17px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px 1px rgba(0,0,0,0.75);

    @media screen and (max-width:740px){
        width: calc(40%);   
    }
}


.teste img{
    width: 100%;
    height: 50%;
}

.event-btn {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
    padding: 2px 4px;
    border-radius: 4px;
    display: flex;

}

.nav-teste{
    font-size: 0.7em;
    display: flex;
    align-items: center;
    color: white;
}

#sub-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    color: #000;
    margin-top: 1rem;
    gap: 15px;
    width: 100vw;
    height: 200px;
}


/* pagina de medalhas */

#medalhas{
    margin: 10px; 
    padding: 10px; 
    border: 1px solid black;  
}

#medalhas h1{
    text-align: center;
    font-size: clamp(1em, 5vw , 2em);
    margin-bottom: 20px;
}

#medalhas .description{
    text-align: center;
    color: rgb(86, 86, 86);
    margin-bottom: 20px;
}

#medalhas h2{
    text-align: center;
    font-size: clamp(0.8em, 4vw , 1.8em);
    margin-bottom: 20px;
}

#medalhas .container-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#medalhas .container-imgs p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#medalhas .container-imgs p span{
    font-size: 0.8em;
}

#medalhas .container-imgs .img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#medalhas .container-imgs .imgs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#medalhas .container-imgs .imgs img{
    width: 150px;
}